.projectHdsCommon {
  color: var(--accent-secondary);
  text-align: center;
  font-weight: 700;
  font-size: 34px;
}
.projectHds {
  display: none;
}
.projectHdsMob {
  display: block;
  font-size: 7vw;
  line-height: 1.3;
  margin: 0 0 5.87vw 0;
}
.projectHdsTblet {
  display: none;
}

.projectDetailsCommon {
  font-size: 17px;
  letter-spacing: 0.17vw;
}
.projectDetailsMob {
  display: block;
}
.projectDetailsTblet {
  display: none;
}
.projectDetailsLpt {
  display: none;
}

.projectDetailHighlights {
  font-weight: 700;
}

.projectsTitle {
  padding: 14px 0 4px;
  text-align: center;
  font-size: 5.87vw;
  font-weight: 600;
  letter-spacing: 0.1vw;
}
.projectsTitleNonMob {
  display: none;
}
.projTitleHighLight {
  color: var(--accent-primary);
  font-weight: 800;
  font-size: 6.1vw;
}

@media (min-width: 575px) {
  .projectHdsMob {
    display: none;
  }
  .projectHdsTblet {
    display: block;
    line-height: 1.3;
    margin: 0 0 3.07vw 0;
  }

  .projectDetailsMob {
    display: none;
  }
  .projectDetailsTblet {
    display: block;
    letter-spacing: 0.12vw;
  }

  .projectsTitle {
    padding: 18px 0 4px;
    font-size: 3.87vw;
    letter-spacing: 0.17vw;
  }
  .projTitleHighLight {
    font-size: 4vw;
  }
}
@media (min-width: 992px) {
  .projectHdsTblet {
    display: none;
  }
  .projectHds {
    display: block;
    margin: 0 0 22px 0;
  }
  .projectDetailsTblet {
    display: none;
  }
  .projectDetailsLpt {
    display: block;
    letter-spacing: 0.04vw;
  }

  .projectsTitleMob {
    display: none;
  }
  .projectsTitleNonMob {
    display: block;
  }
  .projectsTitle {
    padding-bottom: 0;
    font-size: 2.07vw;
    letter-spacing: 0.06vw;
  }
  .projTitleHighLight {
    font-size: 2.16vw;
  }
}
