.hedding {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 6px 0;
  font-family: "poppins", "Roboto", sans-serif;
  font-size: 6.1vw;
}
.cursor {
  animation: blink 1.5s ease-in-out infinite;
  cursor: pointer;
  user-select: none;
}
.sklCursor {
  animation: blink 3s ease-in-out infinite;
  position: absolute;
  bottom: 5px;
  left: 14.2vw;
  font-size: 7.47vw;
  display: inline-block;
  margin: 0 0 0 5px;
  transform: rotate(-90deg);
}
.projCursor {
  animation: blink 5.5s ease-in-out infinite;
  font-size: 3.7vw;
  color: var(--accent-secondary);
  margin: 5px 0 0 10px;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.common {
  height: 6px;
  background-color: var(--accent-primary);
  border-radius: 25px;
}

.hightlightTextLong1 {
  width: 82px;
}
.hightlightTextLong2 {
  margin: 4.5px 0 0 0;
  width: 40px;
}

.hightlightTextshort1 {
  width: 45px;
}
.hightlightTextShort2 {
  margin: 4px 0 0 0;
  width: 24px;
}

@media (min-width: 575px) {
  .hedding {
    font-size: 3.97vw;
  }

  .sklCursor {
    bottom: 10px;
    left: 9.17vw;
    font-size: 3.8vw;
  }
  .projCursor {
    font-size: 2.07vw;
    margin: 5.5px 0 0 10px;
  }

  .hightlightTextLong1 {
    width: 100px;
  }
  .hightlightTextLong2 {
    margin: 4px 0 0 0;
    width: 55px;
  }

  .hightlightTextshort1 {
    width: 52px;
  }
  .hightlightTextShort2 {
    margin: 4px 0 0 0;
    width: 28px;
  }
}

@media (min-width: 992px) {
  .hedding {
    font-size: 2.1vw;
  }
  .sklCursor {
    left: 4.9vw;
    font-size: 1.87vw;
  }
  .projCursor {
    font-size: 1vw;
    margin: 6px 0 0 6px;
  }

  .hightlightTextLong1 {
    width: 92px;
  }
  .hightlightTextLong2 {
    width: 50px;
  }

  .hightlightTextshort1 {
    width: 46px;
  }
  .hightlightTextShort2 {
    width: 27px;
  }
}
