.logoCont {
  font-family: "Days One", sans-serif;
  user-select: none;
}
.logo {
  margin: 0;
  font-size: 26px;
}

@media (min-width: 575px) {
  .logo {
    font-size: 34px;
  }
}

@media (min-width: 992px) {
  .logo {
    font-size: 30px;
  }
}
