.slog {
  margin: 24px 0;
  font-family: "Montserrat", "Roboto", sans-serif !important;
  text-transform: capitalize;
}

.skillAboutNoneMob {
  display: none;
}
.skillAboutMob {
  font-size: 3.97vw;
}

.technicalHds {
  padding: 34px 0 8px 0;
  font-size: 32px;
}

.techSkillsHds {
  font-size: 26px;
  font-weight: 600;
}

.stackSkills {
  position: relative;
  display: inline-block;
  margin: 7px 0;
  font-size: 4.22vw;
  font-weight: 500;
  z-index: 5;
  cursor: pointer;
}

.postgresql {
  margin: 0 -3px 0;
}
.redis {
  margin: 0 -6.5px 0;
}

.stackSkillNoDetailsCursor {
  cursor: default;
}

.dropDown {
  position: absolute;
  top: 18.5%;
  margin: 0 0 10px 0;
}

.arrowDirection {
  top: -1%;
  transform: rotate(180deg);
}

.skillDetails {
  position: absolute;
  top: 85%;
  left: 20%;
  width: 80%;
  /* background: #fff;
  color: #000; */
  background-color: var(--overlay-bg);
  color: var(--overlay-text);
  padding: 13px 14px 13px 16px;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 0.9rem;
  line-height: 1.4;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  z-index: 10;
}
.skillDetailsDark {
  box-shadow: 0 7px 14px rgba(218, 218, 218, 0.3) !important;
}
.skillDetailShift {
  left: 20% !important;
}

.detailsHdsDark span svg {
  color: #000 !important;
}
.detailsHdsLight span svg {
  color: #fff !important;
}

.overlayHds {
  color: var(--overlay-hds);
  letter-spacing: 0.01vw;
  font-weight: 700;
}
.overlayHdsDark {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}
.overlayHdsLight {
  letter-spacing: 0.03vw;
  text-shadow: 1px 2px 3px rgba(248, 248, 248, 0.4);
}

@media (min-width: 575px) {
  .slog {
    margin: 3.27vw 0;
  }
  .skillAboutMob {
    display: none;
  }
  .skillAboutNoneMob {
    display: block;
    font-size: 2.2vw;
  }

  .technicalHds {
    font-size: 40px;
  }

  .techSkillsHds {
    font-size: 27px;
  }
  .stackSkills {
    margin: 8px 0;
    font-size: 19px;
  }
  .skillDetails {
    top: 100%;
    left: 20%;
    width: 100%;
    padding: 17px 15px 17px 17px;
    border-radius: 16px;
    line-height: 1.4;
    letter-spacing: 0.02vw;
  }

  .skillDetailShift {
    top: -400%;
    left: 70%;
  }
}

@media (min-width: 992px) {
  .slog {
    margin: 24px 0;
  }
  .skillAboutNoneMob {
    font-size: 1.2vw;
    letter-spacing: 0.037vw;
  }
  .techSkillsHds {
    font-size: 25px;
  }
  .stackSkills {
    margin: 6px 0;
    font-size: 17px;
  }
  .skillDetails {
    top: 85%;
    left: 42%;
    padding: 13px 14px 13px 16px;
    border-radius: 10px;
    line-height: 1.3;
  }

  .skillDetailShift {
    top: -440%;
    left: 65%;
  }
}
