.wholeCertificateCont {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
  height: auto;
}
.certificate {
  color: #000;
  position: relative;
  height: 62vw;
  width: 99%;
  background-color: #fff;
  border: 2px solid #818181;
  border-radius: 24px;
  transition: all 0.4s ease-in-out;
  perspective: 1000px; /* Enables 3D effect */
}
.certificateImg,
.certificateContent {
  position: absolute;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  backface-visibility: hidden;
  cursor: pointer;
}
.certificateImg {
  padding: 20px 18px;
  height: 100%;
  width: 100%;
  transform: rotateY(0deg);
  user-select: none;
}
.certificateContent {
  padding: 15px;
  display: none;
  width: 100%;
  height: 100%;
  top: 0%;
  text-align: center;
  border-radius: 24px;
  transform: rotateY(180deg);
}
/* The flip on hover */
.certificate:hover .certificateImg {
  transform: rotateY(180deg);
}

.certificate:hover {
  height: 310px;
}

.certificate:hover .certificateContent {
  transform: rotateY(360deg);
  display: block;
}
.certificateContent p {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.certificateBtn {
  padding: 3vw 3.5vw;
  border-radius: 10px;
  font-weight: 700;
  font-size: 3.5vw;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: var(--accent-secondary);
  border: none;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  letter-spacing: 0.01vw;
}

/* ------------------------------------------- Media Query ------------------------------------------------- */
@media (min-width: 575px) {
  .wholeCertificateCont {
    padding: 20px;
    margin: 30px 0 0;
  }
  .certificate {
    height: 320px;
    width: 480px;
  }
  .certificateImg {
    padding: 20px;
  }
  .certificateContent {
    padding: 20px 30px;
  }

  .certificate:hover {
    height: 290px;
  }

  .certificateBtn {
    padding: 12px 20px;
    border-radius: 16px;
    font-size: 17px;
    letter-spacing: 0.05vw;
  }
}

@media (min-width: 992px) {
  .wholeCertificateCont {
    margin: 20px 0 0;
    padding: 20px;
  }
  .certificate {
    height: 260px;
    width: 410px;
  }

  .certificateContent {
    padding: 15px;
  }

  .certificate:hover {
    height: 305px;
  }
  .certificateBtn {
    font-size: 16px;
    letter-spacing: 0.01vw;
  }
}
