/* --------------------------------------------- Text Section ---------------------------------------- */

.homeContentContainer {
  text-align: center;
}
.homeContHds1,
.homeContHds2 {
  font-family: "poppins", sans-serif;
}

.homeContHds1 {
  margin: 14.4vw 0 3.57vw 0;
  font-size: 10.17vw;
  font-weight: 700;
}
.homeContHds2 {
  margin: 0 0 11.7vw 0;
  font-size: 6.07vw;
  color: var(--accent-primary);
  font-weight: 500;
}

.homeContPara {
  margin: 0 0 13vw 0;
  font-family: "inter", sans-serif;
  font-size: 4.17vw;
  color: var(--text-secondary);
  font-weight: 400;
}
.reactIcon {
  color: #61dafb;
  margin: 0 4px 0 10px;
}
.reactIconLght {
  color: #0284c7;
  margin: 0 4px 0 10px;
}
.javaIcon {
  color: #e76f00;
  margin: 0 4px 0 10px;
}

/* --------------------------------------------------- Button ------------------------------------------- */

.buttonCont {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projectsBtn,
.resumeBtn {
  width: 85%;
  background-color: var(--accent-primary);
  color: var(--accent-text);
  padding: 0.7rem 1.4rem;
  font-size: 4.75vw;
  font-weight: 700;
  border: none;
  border-radius: 16px;
  outline: none;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.projectsBtn {
  text-decoration: none;
  margin: 0 0 10vw 0;
}
.btnsLight {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5px;
}
.projectsBtn:hover,
.resumeBtn:hover {
  background-color: var(--accent-text);
  color: var(--accent-primary);
  transform: scale(1.047);
  box-shadow: 0 0 22px var(--accent-primary);
}
.projectsBtn:active,
.resumeBtn:active {
  transform: scale(0.95);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.25),
    0 0 10px var(--accent-primary);
}

/* ------------------------------------------------ Socials ---------------------------------------------- */

.socialsCont {
  padding: 14.5vw 0 16vw;
  font-size: 4.4vw;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.socials {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.socials:hover {
  color: var(--accent-secondary);
  transform: scale(1.08);
}

/* ---------------------------------------------- Illustration -------------------------------------------- */

.homeIllustrationCont {
  margin: 5vw 0 11vw;
  height: 52vw;
  width: 94%;
}
.homeIllustration {
  height: 100%;
  width: 100%;
  filter: drop-shadow(0 0 12px var(--accent-primary));
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  user-select: none;
  animation: float 5.5s ease-in-out infinite;
}
.homeIllustration:hover {
  animation-play-state: paused;
  transform: scale(1.05);
  filter: drop-shadow(0 0 24px #00ffff);
}
.homelightIllustration:hover {
  filter: drop-shadow(0 0 17px var(--accent-secondary));
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ---------------------------------------------- MEDIA QUERY -------------------------------------------- */

@media (prefers-reduced-motion: reduce) {
  .homeIllustration {
    animation: none;
  }
}

@media (min-width: 575px) {
  .homeContHds1 {
    margin: 9.4vh 0 0.7rem 0;
    font-size: 7vw;
  }
  .homeContHds2 {
    font-size: 4.9vw;
    margin: 1.5rem 0 4.4rem 0;
  }
  .homeContPara {
    font-size: 3.67vw;
    margin: 0 0 4.5rem 0;
  }

  .projectsBtn,
  .resumeBtn {
    width: 65%;
    padding: 1.2rem 1.41rem;
    font-size: 1.57rem;
    border-radius: 18px;
  }
  .projectsBtn {
    margin: 0 0 6vw 0;
  }
  .socialsCont {
    padding: 4.6rem 0 3.9rem 0;
    font-size: 3.15vw;
    gap: 4rem;
  }
  .homeIllustrationCont {
    margin: 5vw 0;
    height: 49.7vw;
    width: 95%;
  }
}

@media (min-width: 992px) {
  .homeContentContainer {
    text-align: left;
  }
  .homeContHds1 {
    margin: 10.7vh 0 0.4rem 0;
    font-size: 3.27rem;
  }
  .homeContHds2 {
    font-size: 2rem;
    margin: 0.8rem 0 2.2rem 0;
  }
  .homeContPara {
    font-size: 1.14rem;
    margin: 0 0 2.35rem 0;
  }

  .buttonCont {
    flex-direction: row;
  }
  .projectsBtn,
  .resumeBtn {
    width: auto;
    padding: 0.67rem 1.7rem;
    font-size: 1.3rem;
  }
  .projectsBtn {
    margin: 0 5vw 0 0;
  }
  .socialsCont {
    padding: 2.7rem 0 0 0;
    font-size: 1.4rem;
    justify-content: start;
    gap: 3rem;
  }
  .homeIllustrationCont {
    margin: 16vh 0 0 0;
    height: 24vw;
    width: 36.7vw;
  }
}

@media (min-width: 1400px) {
  .homeContHds1 {
    margin-top: 12vh;
  }
  .homeContPara {
    margin-right: 4vw;
  }
  .homeIllustrationCont {
    margin-top: 16.5vh;
    height: 350px;
    width: 500px;
  }
}
