.wholeContactCont {
  margin: 5vw 0 3.4vw;
  padding: 3.07vw 0;
  border-radius: 16px;
}
.contactDark {
  background-color: #080c16;
  color: #cbd5e1;
}
.contactLight {
  background-color: #fff2e6;
  color: #333333;
}

.getInTouchHds {
  margin: 27px 0 14px;
  font-weight: 700;
  /* color: #7a4a26; */
}
.getInTouchslog {
  margin: 0 0 34px;
  color: #a56b47;
  font-weight: 500;
  font-size: 18px;
}
.getInTouchPara {
  margin: 10px 0 97px;
  font-size: 17px;
}
.getInTouchEmail {
  color: var(--text-color);
  margin: 0 0 7px 28px;
  text-decoration: underline;
  cursor: pointer;
}

.socialIcons {
  font-size: 1.8vw;
  color: var(--text-color);
  /* background-color: red; */
  margin: 0 10px;
  cursor: pointer;
}
.socialIcons:hover,
.getInTouchEmail:hover {
  transition: all 0.2s ease-in-out;
  color: #2563eb;
}
.requiredMark {
  color: red;
  margin: 0 0 0 3px;
}

/*  */
.formInputText {
  margin: 0 0 7px;
  font-weight: 500;
}
.formInput {
  margin: 0 0 26px;
  width: 80%;
  padding: 7px 15px;
  border-radius: 7px;
  font-size: 15.5px;
  outline: none;
}
.formInputLgt {
  border: 2px solid #7a4a26;
}
.formInputDrk {
  border: 2px solid #14a1ddff;
}
.formTextarea {
  height: 110px;
  resize: none;
  font-size: 15px;
}

.formSubmitBtn {
  color: var(--accent-text);
  border-radius: 12px;
  padding: 10px 18px;
  margin: 0 20% 0;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  outline: none;
  letter-spacing: 0.024vw;
}
.formSubmitBtn:hover {
  background-color: #fefefe !important;
}

.formSubmitLgt:hover {
  color: #b25c2e;
}
.formSubmitDrk:hover {
  background-color: transparent !important;
  color: #38bdf8;
}
