.wholeContactCont {
  margin: 14vw 0 20vw;
  padding: 4.07vw 0 10vw;
  border-radius: 16px;
}
.contactDark {
  background-color: #080c16;
  color: #cbd5e1;
}
.contactLight {
  background-color: #fff2e6;
  color: #333333;
}

.getInTouchHds {
  margin: 35px 0 17px;
  font-size: 9vw;
  font-weight: 700;
  /* color: #7a4a26; */
}
.getInTouchslog {
  margin: 0 0 40px;
  color: #a56b47;
  font-weight: 500;
  font-size: 5.17vw;
}
.getInTouchPara {
  margin: 10px 0 77px;
  font-size: 4.2vw;
}

.contactConect {
  margin: 0 0 0 2%;
}

.mailIcon {
  margin: 0 0 13px;
}
.getInTouchEmail {
  color: var(--text-color);
  margin: 0 0 18px 6vw;
  font-size: 3.8vw;
  text-decoration: underline;
  cursor: pointer;
}

.socialIcons {
  font-size: 6vw;
  color: var(--text-color);
  margin: 0 10px;
  cursor: pointer;
}
.socialIcons:hover,
.getInTouchEmail:hover {
  transition: all 0.2s ease-in-out;
  color: #2563eb;
}
.requiredMark {
  color: red;
  margin: 0 0 0 3px;
}

.formContainer {
  padding: 0 0 0 8%;
  font-size: 18px;
}

.formInputText {
  margin: 0 0 8px;
  font-weight: 500;
}
.formInput {
  margin: 0 0 30px;
  width: 90%;
  padding: 10px 15px;
  border-radius: 7px;
  outline: none;
}
.formInputLgt {
  border: 2px solid #7a4a26;
}
.formInputDrk {
  border: 2px solid #14a1ddff;
}
.formTextarea {
  height: 150px;
  resize: none;
  font-size: 15.7px;
}

.formSubmitBtn {
  color: var(--accent-text);
  border-radius: 12px;
  padding: 14px 24px;
  width: 92%;
  margin: 0 10% 0 0;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  outline: none;
  letter-spacing: 0.024vw;
}
.formSubmitBtn:hover {
  background-color: #fefefe !important;
}

.formSubmitLgt:hover {
  color: #b25c2e;
}
.formSubmitDrk:hover {
  background-color: transparent !important;
  color: #38bdf8;
}

/* -------------------------------------------------Media Query-------------------------------------------------- */

@media (min-width: 575px) {
  .wholeContactCont {
    margin: 9vw 0 11vw;
    padding: 5vw 4.47vw;
  }

  .getInTouchHds {
    margin: 3vw 0 17px;
    font-size: 4.97vw;
  }
  .getInTouchslog {
    margin: 0 0 34px;
    font-size: 2.87vw;
  }
  .getInTouchPara {
    margin: 17px 0 67px;
    font-size: 19px;
    letter-spacing: 0.1vw;
  }

  .contactConect {
    margin: 0 0 0 22%;
  }

  .mailIcon {
    margin: 0 0 18px;
  }
  .getInTouchEmail {
    margin: 0 0 18px 28px;
    font-size: 2.37vw;
  }

  .socialIcons {
    font-size: 3.42vw;
    margin: 0 10px;
  }

  .formContainer {
    padding: 0 0 0 12%;
    font-size: 18px;
  }
  .formInputText {
    margin: 0 0 12px;
  }
  .formInput {
    margin: 0 0 26px;
    width: 85%;
    padding: 12px 15px;
    font-size: 18px;
    letter-spacing: 0.1vw;
  }

  .formTextarea {
    height: 170px;
  }

  .formSubmitBtn {
    padding: 15px 24px;
    margin: 0 15% 0 0;
    width: auto;
    letter-spacing: 0.1vw;
  }
}

@media (min-width: 992px) {
  .wholeContactCont {
    margin: 4vw 0 5vw;
    padding: 3.07vw 0;
  }

  .getInTouchHds {
    margin: 27px 0 14px;
    font-size: 40px;
  }
  .getInTouchslog {
    margin: 0 0 34px;
    font-size: 18px;
  }
  .getInTouchPara {
    margin: 10px 0 97px;
    font-size: 17px;
    letter-spacing: 0.01vw;
  }
  .contactConect {
    margin: 0;
  }

  .mailIcon {
    margin: 0;
  }
  .getInTouchEmail {
    margin: 0 0 7px 28px;
    font-size: 16px;
  }

  .socialIcons {
    font-size: 1.9vw;
  }

  .formContainer {
    padding: 0;
    font-size: 16px;
  }
  .formInputText {
    margin: 0 0 7px;
  }
  .formInput {
    margin: 0 0 26px;
    width: 80%;
    padding: 7px 15px;
    font-size: 16px;
    letter-spacing: 0.02vw;
  }

  .formTextarea {
    height: 120px;
  }

  .formSubmitBtn {
    padding: 10px 18px;
    margin: 0 20% 0 0;
    letter-spacing: 0.024vw;
  }
}
