nav {
  background-color: var(--background-color);
  width: 100%;
  padding: 16px 0 0 0;
  box-shadow: var(--nav-shadow);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logoCont {
  font-family: "Days One", sans-serif;
  user-select: none;
}
.logo {
  margin: 0;
  font-size: 26px;
}
.mobHidden {
  display: none;
}

.mobSections {
  margin: 16px 0 0 0;
}
.mobVisible {
  display: flex;
  justify-content: space-evenly;
  padding: 16px 0 !important;
}
.mobVisibleDark {
  background-color: #141f38;
}
.mobVisibleLight {
  background-color: #f0f0f0;
}
.mobSt {
  font-size: 3.95vw !important;
  padding: 0 !important;
}

.navSections {
  color: #ffffff;
  margin: 0 1.57vw;
  text-decoration: none;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.activeLink {
  border-bottom: 3px solid var(--accent-primary);
  padding-bottom: 5px;
}
.navSections:hover {
  color: var(--text-gray) !important;
}
.lightMode {
  color: #0c111d !important;
  letter-spacing: 1.3px;
}
.togglerbtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.togglerNight {
  margin: 0 0 0 25px;
  font-size: 30px;
}
.togglerDay {
  margin: 0 0 0 32px;
  font-size: 22px;
}

@media (max-width: 370px) {
  .mobSt {
    font-size: 13px !important;
  }
}

@media (min-width: 575px) {
  .logo {
    font-size: 34px;
  }
  .mobVisible {
    padding: 20px 0 !important;
  }
  .navSections {
    font-size: 22px !important;
  }
  .togglerDay {
    font-size: 27px;
  }
  .togglerNight {
    font-size: 34px;
  }
}

@media (min-width: 992px) {
  nav {
    padding: 20px 0;
  }
  .navSections {
    font-size: 18px !important;
  }
  .logo {
    font-size: 30px;
  }
  .mobHidden {
    display: flex;
    align-items: center;
  }
  .mobSections {
    display: none;
  }
  .togglerDay {
    font-size: 20px;
  }
  .togglerNight {
    font-size: 26px;
  }
}
