.footerStack {
  font-size: 6vw;
  font-weight: 700;
  margin: 5vw 0 9vw;
}
.footerStacksVariationDivider {
  border: 3px solid #1f1f41ff;
  padding: 7px 12px 5px;
  border-radius: 50%;
}
.footerStacksVariationDividerLgt {
  border: 3px solid #a5a5a5ff;
}

.sectionsCont {
  margin: 1.4vw 22% 1.8vw;
}

.sectionsLinkItem {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  margin: 29px 0 0 0;
  padding-bottom: 5px;
  border-bottom: 1.5px solid #fff;
}
.sectionLinkItemLgtMob {
  border-bottom: 1.5px solid #9b9b9b;
}

.sectionsLink {
  text-decoration: none;
  color: #ff4fa3;
  font-weight: 600;
  font-size: 4.37vw;
  padding: 0 2.2vw;
  /* border-bottom: 2px solid #fff; */
}
.sectionLinkLgt {
  color: #0080ff;
  font-weight: 700;
}

.sectionsLink:hover {
  color: #ffcce4;
}
.sectionLinkLgt:hover {
  color: #3f51b5;
}

.socialWrapperCont {
  margin: 7vw 0 0;
  padding: 1vw 0 0;
}
.socialsCont {
  cursor: pointer;
  padding-bottom: 4px;
  margin: 2vw 0 0 1.7vw;
}
.socialsIcons {
  color: #38bdf8;
  font-size: 4.47vw;
  margin: 0 0.5vw 0;
  transition: all 0.3s ease-in-out;
}
.socialsIconsLgt {
  /* color: #ff7d2c; */
  /* color: #6352dd; */
  color: #5543d8;
}
.socialsName {
  font-size: 4.25vw;
  font-weight: 600;
  letter-spacing: 0.2px;
  transition: all 0.3s ease-in-out;
}
.socialsNameLgt {
  font-weight: 700;
}
.socialsCont:hover .socialsIcons {
  color: #fff;
}
.socialsCont:hover .socialsName {
  color: #38bdf8;
}
.socialsCont:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #fff;
}

.socialsContLgt:hover .socialsIconsLgt {
  color: #424242;
}
.socialsContLgt:hover .socialsNameLgt {
  /* color: #ff7d2c; */
  /* color: #6c5ce7; */
  color: #5543d8;
  /* color: #009688; */
}
.socialsContLgt:hover {
  border-bottom: 2px solid #424242;
}

@media (min-width: 575px) {
  .footerStack {
    font-size: 3.37vw;
    margin: 2.7vw 0 5.7vw;
    letter-spacing: 0.1px;
  }

  .sectionsCont {
    margin: 1.4vw 0 1.8vw;
  }

  .sectionsLinkItem {
    border-bottom: none;
    border-right: 2px solid #fff;
    margin: 10px 0;
  }
  .sectionsLinkItemLgt {
    border-right: 2px solid #000 !important;
  }
  .sectionsLink {
    font-size: 2.57vw;
    padding: 0 3vw;
  }

  .socialWrapperCont {
    margin: 0;
    padding: 1vw 0 0;
  }
  .socialsCont {
    margin: 2vw 0 0 1.7vw;
  }
  .socialsIcons {
    font-size: 2.2vw;
    margin: 0 1vw 0;
  }

  .socialsName {
    font-size: 19px;
  }
}

@media (min-width: 992px) {
  .footerStack {
    font-size: 1.7vw;
    margin: 1.4vw 0 1vw;
  }

  .sectionsCont {
    margin: 1.4vw 12% 1.8vw;
  }

  .sectionsLink {
    font-size: 1.3vw;
    padding: 0 2.2vw;
  }

  .socialWrapperCont {
    margin: 0 4%;
  }

  .socialsIcons {
    font-size: 1.4vw;
    margin: 0 0.5vw 0;
  }

  .socialsName {
    font-size: 18px;
  }
}
