:root {
  /* Light Theme */
  /* --background-color: #ffffff; */
  --background-color: #fefefe;
  --overlay-bg: #141414;
  --overlay-text: #f8f8f8;
  --overlay-hds: #38bdf8;
  --accent-primary: #f97316;
  --accent-secondary: #3b86dd; /*change this color #169cf9*/
  --selection-background: #f97316;
  --card-background: #f5f5f5;
  --divider: #f1f1f1;
  --accent-text: #ffffff;
  --text-color: #0f1522;
  --text-gray: #6b7280;
  --bracket: #000;
  --font-family: "Roboto", sans-serif;
  --nav-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --background-color: #0f172a;
  --overlay-bg: #f8f8f8;
  --overlay-text: #141414;
  --overlay-hds: #f97316;
  --accent-primary: #38bdf8;
  --accent-secondary: #facc15;
  --selection-background: #facc15;
  --card-background: #253457;
  --divider: #111e3b;
  --accent-text: #111111;
  --text-color: #ffffff;
  --text-gray: #94a3b8;
  --bracket: #fff;
  --font-family: "Montserrat", sans-serif;
  --nav-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  transition: background-color 0.4s ease, color 0.4s ease;
}

::selection {
  background-color: var(--selection-background);
  color: #fff;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1290px;
  }
}
